/* Pixel Art Maker - CSS code*/
body
{
    background-color: aqua;
    border-width: thin;
    border-color: blue;
    text-align: center;
}

#open 
{
    overflow:true; margin:auto;
    border-width: 100px;
    background-color: lightcyan;
}

h1 
{
    font-family: Monoton;
    font-size: 65px;
    margin: 0.2em;
    padding: 5px;
    border-color: crimson;
    border: 1px solid brown;
}

h2 {
    margin: 1em 0 0.25em;
}

h2:first-of-type {
    margin-top: 0.5em;
}
p {
    font-weight: bold;
    color: brown;
}

#submitButton {
  border: 1px solid blue;
  border-radius: 1.5px;
}

#reset {
  border: 1px solid darkblue;
  border-radius: 1.5px;
}

table,
tr,
td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

tr 
{
    height: 20px;
}

td 
{
    width: 20px;
}

input[type=number] {
    width: 6em;
    font-weight: bold;
}
